:root {
  // Variable tones
  --soft-white: #eeeded;
  --soft-black: #303030;
  --dark-pink: #c62e65;
  --light-pink: #ffa4c6af;
  --green: #80ed99;
  --blue: #22677a;
  --light-gray: #c9c8c8;

  // StyleKit Vars
  --sn-stylekit-shadow-color: var(--light-gray);

  --sn-stylekit-info-color: var(--green);
  --sn-stylekit-info-contrast-color: var(--soft-black);

  --sn-stylekit-neutral-color: #7c7c7c;
  --sn-stylekit-neutral-contrast-color: var(--soft-black);

  --sn-stylekit-success-color: var(--green);
  --sn-stylekit-success-contrast-color: var(--soft-black);

  --sn-stylekit-warning-color: var(--blue);
  --sn-stylekit-warning-contrast-color: var(--soft-black);

  --sn-stylekit-danger-color: var(--dark-pink);
  --sn-stylekit-danger-contrast-color: var(--soft-black);

  --sn-stylekit-editor-background-color: var(--soft-white);
  --sn-stylekit-editor-foreground-color: var(--soft-white);
  --sn-stylekit-border-color: var(--light-gray);

  --sn-stylekit-contrast-background-color: var(--soft-black);
  --sn-stylekit-contrast-foreground-color: var(--soft-white);
  --sn-stylekit-contrast-border-color: var(--light-gray);

  --sn-stylekit-secondary-background-color: var(--soft-black);
  --sn-stylekit-secondary-foreground-color: var(--soft-white);
  --sn-stylekit-secondary-border-color: var(--light-gray);

  --sn-stylekit-secondary-contrast-background-color: var(--soft-black);
  --sn-stylekit-secondary-contrast-foreground-color: var(--soft-white);
  --sn-stylekit-secondary-contrast-border-color: var(--light-gray);

  --sn-stylekit-paragraph-text-color: var(--soft-black);

  --sn-stylekit-scrollbar-track-border-color: var(--light-gray);
  --sn-stylekit-scrollbar-thumb-color: var(--green);

  --sn-desktop-titlebar-bg-color: var(--soft-white);
  --sn-desktop-titlebar-border-color: var(--light-gray);
  --sn-desktop-titlebar-ui-color: var(--soft-black);
  --sn-desktop-titlebar-ui-hover-color: var(--light-pink);
}