:root {
  --soft-white: #fafafa;
  --soft-black: #303030;
  --melon-pink: #efb0a1;
  --soft-pink: #FEE8E3;
  --purple: #AA4465;
  --blue: #86BBD8;
  --light-gray: #f6f6f6;
  --light-green: #90ee90;
  --yellow: #FFC300;
  --soft-red: #FF5733;
  --sn-stylekit-shadow-color: var(--light-gray);
  --sn-stylekit-foreground-color: var(--soft-black);
  --sn-stylekit-info-color: var(--blue);
  --sn-stylekit-info-contrast-color: var(--soft-black);
  --sn-stylekit-neutral-color: #7c7c7c;
  --sn-stylekit-neutral-contrast-color: var(--soft-black);
  --sn-stylekit-success-color: var(--light-green);
  --sn-stylekit-success-contrast-color: var(--soft-black);
  --sn-stylekit-warning-color: var(--yellow);
  --sn-stylekit-warning-contrast-color: var(--soft-black);
  --sn-stylekit-danger-color: var(--soft-red);
  --sn-stylekit-danger-contrast-color: var(--soft-black);
  --sn-stylekit-editor-background-color: white;
  --sn-stylekit-editor-foreground-color: var(--soft-black);
  --sn-stylekit-border-color: var(--light-gray);
  --sn-stylekit-contrast-background-color: var(--light-gray);
  --sn-stylekit-contrast-foreground-color: var(--soft-black);
  --sn-stylekit-contrast-border-color: 0;
  --sn-stylekit-secondary-background-color: var(--soft-black);
  --sn-stylekit-secondary-foreground-color: var(--soft-white);
  --sn-stylekit-secondary-border-color: var(--soft-black);
  --sn-stylekit-secondary-contrast-background-color: var(--soft-black);
  --sn-stylekit-secondary-contrast-foreground-color: var(--soft-white);
  --sn-stylekit-secondary-contrast-border-color: var(--soft-black);
  --sn-stylekit-paragraph-text-color: var(--soft-black);
  --sn-stylekit-scrollbar-track-border-color: var(--light-gray);
  --sn-stylekit-scrollbar-thumb-color: var(--soft-black);
  --sn-desktop-titlebar-bg-color: var(--soft-white);
  --sn-desktop-titlebar-border-color: var(--light-gray);
  --sn-desktop-titlebar-ui-color: var(--soft-black);
  --sn-desktop-titlebar-ui-hover-color: var(--melon-pink);
}

#notes-title-bar #notes-column .note .notes .note  {
  color: var(--soft-black) !important;
}

.tag-tree .self.selected {
  color: var(--soft-white) !important;
}

:root #footer-bar  {
  background-color: var(--purple) !important;
  color: var(--soft-white) !important;
}

:root .sn-tag:hover {
  background-color: var(--purple) !important;
  color: var(--soft-white) !important;
}

:root .note:hover {
  background-color: var(--soft-pink) !important;
} 

:root ::selection {
  background: var(--soft-pink) !important;
  color: var(--soft-black) !important;
}

:root .sn-component *.info {
  color: var(--soft-black) !important; 
}

:root .eHUkCo blockquote::before {
  background-color: var(--purple)
}